RewriteEngine On
RewriteRule    ^memegen/([0-9]+)/$    index.php?action=generateur&id=$1 [L]
RewriteRule    ^meme_generator/$    index.php?action=accueil [L]
RewriteRule    ^choixView$    index.php?action=choix [L]
RewriteRule    ^generVis$    index.php?action=visualisation [L]
RewriteRule    ^share$    index.php?action=share [L]
RewriteRule    ^uploadCtrl$    index.php?action=upload [L]
RewriteRule    ^choixImg$    index.php?action=choixImg [L]
