body{
    margin: 0;
}
@media only screen and (max-width: 600px){
    div.row{
       margin-right : 5px;
    }
    div.mImage{
        position : relative;
        height: 200px;
        background-size: cover;
    }
    .formulaire{
        margin-left : 30px;
        align-items: center;
        justify-content: center;
       
    }
    button, select {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
    
        color: grey;
      
        padding: 5px 5px;
        border: 2px;
        border-color: grey;
       
    }
     input#textImage{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
       
        color: grey;
        text-transform: uppercase;
        margin-top: 5px;
        margin-bottom : 5px;
        padding: 5px 25px;
        border: 2px;
        border-color: grey;
        

    }
    div.img{
        position : relative;;

    }
    
 
    body{
        align-items: center;
        justify-content: center;
      
    }
    
    img.logo{
        width : 200px;
        height : 200px;
     
    }
    .image-accueil{
        width : 250px; 
        height : 250px;
        margin-left : 40px;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        padding-top : 5px;

    }
    .btn-info {
        color: #fff;
        background-color: #17a2b8;
        border-color: #17a2b8;
        width : 100px;
        height : 40px;
        margin-bottom : 5px;
       
    }
    .btn{
        margin-left : 70px;
        display: flex;
        justify-content: center;
        padding : 20px;
    }
    img{
        width : 100px; 
        height : 100px;
    
        justify-content: center;
        margin-left : 40px;
        padding-bottom:5px;
    }
    .h2, h2 {
        font-size: 18px !important;
        text-align : center;
        padding-top : 5px;
    }


}



@media screen and (max-width: 640px) {
.rounded-circle{
    width: 50px;
    height: 50px;
    margin-bottom: 50px;
    
}
.list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
}
@media screen and (min-width: 1200px) {
    body{
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-direction: column-reverse;
        flex-direction: column;
       
    
    }
    .image-accueil{
        width : 250px; 
        height : 250px;
        margin-left : 40px;
        display: flex;
        justify-content: center;
        padding-top : 5px;

    }
    img.logo{
        width : 200px;
        height : 200px;
     
    }
    .image-accueil{
        width : 250px; 
        height : 250px;
        margin-left : 40px;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        padding-top : 5px;

    }
    .btn{
        margin-left : 70px;
        display: flex;
        justify-content: center;
    }
    img{
        width : 100px; 
        height : 100px;
    
        justify-content: center;
        margin-left : 40px;
        padding-bottom:5px;
    }
    .h2, h2 {
        font-size: 18px !important;
        text-align : center;
        padding-top : 5px;
    }

    .logo{
        width: 15%;
        height: 15%;
    }
    .rounded-circle{
        width: 150px;
        height: 150px;
        margin-bottom: 50px;
        
    }
    h2{
        text-align: center;
    }
    .list{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .images{
        display: block;   
        text-align: center;
        
    }
    .img:hover{
        outline: 6px solid #24d889;
    }

    .img:focus{
        outline: 6px solid blue;
    }
    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
        height: 250px;
        width: 250px;
        text-align: center;
        }
        .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
        height: 100%;
        text-align: center;
        }
        .custom-span{ font-family: Arial; font-weight: bold;font-size: 100px; color: #FE57A1}
        #uploadFile{border: none;margin-left: 10px; width: 200px;}
        .custom-para{font-family: arial;font-weight: bold;font-size: 24px;}
    }
    .facebook{
        width: 90px;
        height: 90px;
    }
    .twitter{
        width: 90px;
        height: 90px;
    }
    .download{
        width: 90px;
        height: 90px;
}