@font-face {
    font-family:"Roboto-Black";
    src: url("assets/font/Roboto-Black.ttf");
}

body{
    margin: 0;
    font-family:"Roboto-Black"
}
.no-gutters{
    margin-right: 0;
    margin-left: 0;
}
.objetCentr{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.imgProgress{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.btn{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.mImage{
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.formulaire{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
@media only screen and (max-width: 575px){

    
    /* button, select {
        text-transform: none;
        margin-top: 20px;


    } */
    .memegene{
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    div.img{
        position : relative;;

    }
 
    img.rounded-circle{
        width: 60px;
        height: 60px;
        margin-bottom: 50px;

    }
    
    img.logo{
        width : 200px;
        height : 200px;
        display: block;
        margin-left: auto;
        margin-right: auto

    }
    .image-accueil{
        width : 250px;
        height : 250px;
        margin-left: auto;
        margin-right: auto;
        display: block;

    }
    .btn-info {
        color: #fff;
        background-color: #17a2b8;
        border-color: #17a2b8;
        width : 150px;
        height : 40px;
        margin-bottom : 20px;
        margin-top : 20px;

    }
    
    img{
        width : 200px;
        height : 200px;
        justify-content: center;

    }
    .h2, h2 {
        font-size: 18px !important;
        text-align : center;
        padding-top : 5px;
    }
    .fileUpload{
        text-align: center;
    }
    .imgGene{
        width: 250px;
        height: 200px;
        
    }


}




@media screen and (min-width: 1200px) {
    .image-accueil{
        width : 250px;
        height : 250px;
        margin-left : 40px;
        display: flex;
        justify-content: center;
        padding-top : 5px;

    }
    img.logo{
        width : 200px;
        height : 200px;

    }
    img{
        width : 400px;
        height : 400px;
        justify-content: center;
        padding-bottom:5px;
    }
    .h2, h2 {
        font-size: 18px !important;
        text-align : center;
        padding-top : 5px;
    }

    .logo{
        width: 15%;
        height: 15%;
    }
    .rounded-circle{
        width: 150px;
        height: 150px;
        margin-bottom: 50px;

    }
    .images{
        display: block;
        text-align: center;

    }
    .img:hover{
        outline: 6px solid #24d889;
    }

    .img:focus{
        outline: 6px solid blue;
    }
    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
        height: 250px;
        width: 250px;
        text-align: center;
        }
        .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
        height: 100%;
        text-align: center;
        }
        .custom-span{ font-family: Arial; font-weight: bold;font-size: 100px; color: #FE57A1}
        #uploadFile{border: none;margin-left: 10px; width: 200px;}
        .custom-para{font-family: arial;font-weight: bold;font-size: 24px;}
    }
    .typeText{
        width: 200px;
    }
    .facebook{
        width: 90px;
        height: 90px;
    }
    .twitter{
        width: 90px;
        height: 90px;
    }
    .download{
        width: 90px;
        height: 90px;
}