{% extends "main.html" %}

{% block content %}
<form action="generVis" method="post">
<input id="textImage" type="text" Label="Votre texte" placeholder="Tapez votre texte" name="txt-edit">
<input type="hidden" value= image["adress"] name= "hidden">
  <select name="color">
           <option value="orange">Orange</option>
           <option value="bleu">Bleu</option>
           <option value="bleuclair">Bleu clair</option>
           <option value="noir">Noir</option></option>
           <option value="blanc">Blanc</option>
       </select>

         <select name="size">
           <option value="50">Petit</option>
           <option value="80">Moyen</option>
           <option value="100">Grand</option></option>
           <option value="140">Trés grand</option>


       </select>
<input type="submit">
</form>

<div class="mImage">
<img src="{{displayImage.adress}}"witdh="300" height="300">

</div>

<div>
<input type="button" class="btn btn-info" value="Générer" onclick="location.href = 'shareView';">
<input type="button" class="btn btn-info" value="Retour" onclick="location.href = 'choixView';">
</div>



<script>

var textImage = document.querySelector("#textImage");
textImage.addEventListener("keyup",function (event){
var texte = document.querySelector("#mImage");
texte.innerHTML = event.target.value;
});

</script>

{% endblock %}
{% block cercle %}
<img src="assets/media/cercle1.png" class="rounded-circle" />
<img src="assets/media/cercle2.png"  class="rounded-circle" />
<img src="assets/media/cercle3blanc.png" class="rounded-circle" />
{% endblock %}