{% extends "main.html" %} {% block content %}

<h2>Partage ton même</h2>

<div>
</div>

<div class="container">
    <div class="row objetCentr">
        <div class="col-12 d-flex justify-content-around">
            <a href="https://www.facebook.com/sharer.php?u=<?= $lien ?>&t=<?= $titre ?>" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;"><img src="../assets/media/logo_facebook.png" class="facebook"></a>

            <a href="https://twitter.com/share?url=<?= $lien ?>&t=<?= $titre ?>" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;"><img src="assets/media/logo_twitter.png" class="twitter"></a>
            <a href="download.php?filename=CIMG1026.JPG"><img src="assets/media/download.png" class="download"/></a>
        </div>
    </div>
</div>
{% endblock %} {% block cercle %}
<img src="assets/media/cercle1.png" class="rounded-circle" />
<img src="assets/media/cercle2.png" class="rounded-circle" />
<img src="assets/media/cercle3.png" class="rounded-circle" /> {% endblock %}